<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="styles/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<title>Recommendation Generator</title>
	</head>

	<body>
		<div class="title-bar">
			<a class="active" href="index.html"><i class="fa fa-fw fa-address-book"></i>LOR Generator</a>
			<a href="#">How-To</a>
			<a href="#">Privacy</a>
			<% if(user){ %>
			<a class="right proactive" href="/logout"><i class="fa fa-fw  fa-sign-out"></i>Logout</a>
			<% } else { %>
			<a class="right proactive" href="/login"><i class="fa fa-fw  fa-sign-in"></i>Login</a>
			<% } %>
		</div>

		<div class="main-page">
			<div class="heading-container">
				<img id="title-image"
					src="https://images.pexels.com/photos/374720/pexels-photo-374720.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
				<div class="heading-text">
					<h1 class="hide-mobile">Free. Powerful. Fast.</h1>
					<h3>
						Create professional letters of recommendation in just a few clicks.
					</h3>
					<button class="purple-button" onclick="window.location.href = '/start';">
						Get Started
					</button>
				</div>
			</div>

			<div class="row text-content">
				<div class="column">
					<h3>Features</h3>
					<ul>
						<li>Multiple writing styles to choose from</li>
						<li>Directly download as a PDF</li>
						<li>Advanced options to select which traits to prioritize</li>
						<li>Adaptable to use in many contexts</li>
					</ul>
				</div>

				<div class="column">
					<h3>Use LOR Generator Anywhere</h3>
					<p>Get our Android app!</p>
					<p>
						This quick installation will allow you to work offline and share
						directly from your phone
					</p>

					<button class="purple-button">
						Download
					</button>
				</div>
			</div>

			<div class="text-content impact-statement">
				<h1>100% Private</h1>
				<p>
					LOR Generator has a strict policy of confidentiality. All your information
					will be kept completely secure. We maintain a comprehensive and transparent privacy policy6
					<a href="#">here</a>.
				</p>
			</div>
		</div>
	</body>

</html>